* {
  box-sizing: border-box;
}

#message-div {
	width: 100%;
	margin: 0;
	padding: 7px;
	height: auto;
	visibility: hidden;
	text-align: center;
}

.title {
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;
}

#arrow {
	font-size: 15px;
}

/* Column container */
.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

/* Main column */
#main-course-col {
  flex: 60%;
  padding: 20px 40px;
}


/* Sidebar/left column */
#side-course-col {
  flex: 36%;
  padding: 40px;
  border-radius: 10px;
  margin: 0 2%;
  background-color:#EDEDED;
}


#course-left-col-main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	display: flex;
}

#user-course-input {
	margin-bottom: 2%;
	width: 80%;
	margin-right: 1%;
}

.submit-input-button {
	height: calc(2.25rem + 2px);
	width: calc(2.25rem + 2px);
	padding: 0px;
	font-size: 1.5em;
}

#semester-selector {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Footer */
.footer {
  text-align: center;
  padding-top: 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  #semester-selector {
  	width: 60%;
  }
}




.remove-course {
	color: red;
	cursor: pointer;
}