@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');

* {
	font-family: Lato, sans-serif;
}

#message-div {
	z-index: 100;
	top: 0;
	position: fixed;
	width: 100%;
	padding: 7px;
	height: auto;
	text-align: center;
}

.title {
	font-weight: 200;
	text-align: center;
}


/* Column container */
.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-div {
  padding-top: 16px;
  margin-top: 30px;
}