@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.column-left {
  background-color: #F6F6F6;
  padding: 25px 15px;
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  top: 0;
  bottom: 0;
}

.column-spacer {
  flex-basis: 300px;
}

.column-right {
  max-width: 1800px;
  flex-grow: 1;
  text-align: center;
}

/* Label text for the filters */
.text-muted {
  font-size:  0.9rem;
  line-height: 1.25;
}

/* Remove the 'all-day' row for the calendar view */
.rbc-allday-cell {
  display: none;
}


.popup-content {  
  border-radius: 10px; 
  padding: 3% 5% !important;
  width: 50%;
  max-height: 70vh;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .popup-content {
    width: 100% !important;
    max-height: 100%;
    border-radius: 0
  }

  .column-container {
    flex-direction: column;
  }

  .column-left {
    width: 100%;
  }

  .column-spacer {
    flex-basis: 0;
  }
}

.modalContainer {
  font-size: 16px;
}
.modalContainer > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 28px;
  text-align: center;
  padding: 5px;
}
.modalContainer > .content {
  width: 100%;
  padding: 10px 5px;
}
.modalContainer > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.gap {
  margin: 0 1%;
}