@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap');


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.column-container {
  display: flex;
}

.column-left {
  background-color: #F6F6F6;
  padding: 25px 15px;
  width: 300px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  top: 0;
  bottom: 0;
}

.column-spacer {
  flex-basis: 300px;
  flex-shrink: 0;
}

.column-right {
  max-width: 1800px;
  flex-grow: 1;
  text-align: center;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
  .column-right, .column-left {
    flex: 100%;
  }
}

/* Label text for the filters */
.text-muted {
  font-size:  0.9rem;
  line-height: 1.25;
}

/* Remove the 'all-day' row for the calendar view */
.rbc-allday-cell {
  display: none;
}